.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, #121212, #212b46);
}

.title {
  font-size: 4.5em;
  color: white;
  animation: flipTitle 2s;
}

@keyframes flipTitle {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.container-input {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.container-input input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  outline: none;
  margin-right: 8px;
}

.container-input input::placeholder {
  color: #f1f1f1;
}

.button-search {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  border-radius: 8px;
  padding: 5px;
}

.button-search:hover {
  background-color: rgba(255, 255, 255, 0.275);
  transform: scale(1.2);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 500px;
  gap: 10px;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
  transition: 1.5s;
}

.main h2 {
  margin: 16px 0;
  font-size: 39px;
}

.main span {
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.main span:hover {
  background-color: rgba(169, 169, 169, 0.583);
  transform: scale(1.2);
}

@media screen and (max-width: 620px) {
  .title {
    font-size: 3.2em;
  }

  .main {
    width: 80%;
    min-height: 250px;
  }
}
